body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding:0;
}

header{
    background-color: rgb(38, 20, 54);
    color: #fff;
    padding: 1px 4px;
    margin-bottom: 10px;
    height: 10vh;
    display: flex;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 90vh;
}

#postList{
    border-top: 1px solid grey;
    padding: 10px;
    overflow: scroll;   
}

.create-post, .card, #txtTitle, #txtBody{
    border: 1px solid rgb(224, 223, 223);
    padding: 10px; 
    margin-bottom: 10px;
    border-radius: 8px;
    width: 96%;
}




